runtime: php73

env_variables:
  PEGASS_LOGIN: "¤PEGASS_LOGIN¤"
  PEGASS_PASSWORD: "¤PEGASS_PASSWORD¤"
  TOKEN: "¤TOKEN_MANUAL_TRIGGER¤"
  UL_ID: "¤UL_ID¤"
  MAILING_LIST: "¤MAILING_LIST¤"
  DO_NOT_DELETE: "¤DO_NOT_DELETE¤"
  EMAIL_TO_IMPERSONATE: "¤EMAIL_TO_IMPERSONATE¤"
  GOOGLE_APPLICATION_CREDENTIALS: "../pegass-ggroup-sync.json"
  FIRESTORE_COLLECTION: "¤FIRESTORE_COLLECTION¤"

#manual_scaling:
#  instances: 1

#resources:
#  cpu: 1
#  memory_gb: 0.5
#  disk_size_gb: 10

